@inherits LayoutComponentBase
@inject IJSRuntime JS
<div>
    <NavMenu />
</div>
  
    <div class="content">
        @Body
    </div>

@code{
    async Task DisplayTime() {
        await JS.InvokeAsync<string>(identifier:"alerta");
    }
 }
