@inherits LayoutComponentBase
@inject IJSRuntime JS

<div id= "navigatorMenu">
    
    <NavMenu />
    
    @*<NavigatorMenu />*@
</div>
  
    <div class="content">
        @Body
    </div>

@code{
    async Task DisplayTime() {
        await JS.InvokeAsync<string>(identifier:"alerta");
    }
 }
