<div class= "navigator-menu">
    <header class= "navbar navbar-expand navbar-dark flex-column flex-md-row lf-navbar">
        @*
        <div class= "main-container">
        *@
            <h5 class= "my-0 font-weight-bold font-color-white">
                <NavLink class= "font-color-white no-hover" href= "">
                    Laboratorios FARYVET
                </NavLink>
            </h5>
            <div class= "ml-3 navbar-nav-scroll">
                <ul class= "navbar-nav lf-navbar-nav flex-row">
                    <li class= "nav-item">
                        <NavLink class= "nav-link" href= "">
                            Inicio
                        </NavLink>
                    </li>
                </ul>
            </div>
        @*
        </div>
        *@
    </header>
</div>

@code {

}
