@page "/Facturas"

<div class= "main-container">
    <div class= "test-div main-title">
        <h1>
            <b>
                FACTURAS
            </b>
        </h1>
    </div>
    <div>
        <FacturasAdvanceSearch />
    </div>
</div>

@code {

}
