@inject HttpClient Http

<div>
    <div id= "advanceSearchButton">
        <h6>
            <a class=" href-button" data-toggle= "collapse" href= "#advanceSearch" aria-expanded= "false" aria-controls= "advanceSearch" @onclick= "changeAriaExpandedStatus">
                Busqueda avanzada
                @if (!ariaExpandedStatus)
                {
                    <span class=" span-correction oi oi-caret-bottom oi-aling-rigth"></span>
                }
                else
                {
                    <span class= "span-correction oi oi-caret-top oi-aling-rigth"> </span>
                }
            </a>
        </h6>
    </div>
    <div id= "advanceSearch" class=" collapse">
        <div class= "card">
            <div class= "card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="startDateSearch">
                                Buscar desde
                            </label>
                            <input type="date" class="form-control" @bind="startDateSearch"/>
                        </div>
                        <div class="form-group col-3">
                            <label for="endDateSearch">
                                Buscar hasta
                            </label>
                            <input type="date" class="form-control" @bind="endDateSearch" />
                        </div>
                    </div>
                    <div class= "form-row">
                        <div class=" form-group col-10">
                        </div>
                        <div class=" form-group col-2">
                            <button type=" button" class=" btn btn-primary">
                                Buscar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id= "table">
        
        <Table facturas=billsList />
        
    </div>
</div>

@code
{
    @*GUI code*@

    private bool ariaExpandedStatus= false;

    private void changeAriaExpandedStatus (MouseEventArgs e)
    {
        ariaExpandedStatus= !ariaExpandedStatus ? true : false;
    }

    @*Functionality code*@

    private DateTime startDateSearch= DateTime.Today.AddDays (-1);
    private DateTime endDateSearch= DateTime.Today;

    public List <Factura> billsList {get; set;}

private async Task LoadBills ( )
{
    billsList= await Http.GetJsonAsync <List <Factura>> ("Factura");
}

private async Task loadBillsFromAdvanceSearch ( )
{
    var httpResponse= await Http.GetAsync ($"AdvaceSearch?sDS={startDateSearch}&eDS={endDateSearch}");
    if (httpResponse.IsSuccessStatusCode)
    {
        Console.WriteLine (":)");
    }
    else
    {
        Console.WriteLine (":(");
    }
}

protected override async Task OnInitializedAsync ( )
{
    await LoadBills ( );
}
}
