@page "/Reportes"
@inject HttpClient Http

<h3>Index</h3>

@code {
    public object entregas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await cargarEntregas();
    }

    async Task cargarEntregas()
    {
        entregas = await Http.GetJsonAsync<object>("Reportes/2020-03-06/2020-03-06");
        Console.WriteLine(entregas);
    }
}
